:root {
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);  
    --main-white: #ffffff;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg-simplify-section-mobile.svg) no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
}

nav {
}

nav,
section,
footer {    
    padding: 10px 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    color: var(--dark-grayish-blue);
}

nav a:hover {
    color: var(--dark-grayish-blue);
}

.nav-links,
.close,
nav .btn {
    display: none;
}

.hamburger {
    display: block;
}

.burger {
    display: none;
}

.toggle{
    display: block;
    position: relative;
    width: 80px;
    height: 120px;
    overflow: hidden;
    background-color: #fff;
}

.title {
    color: var(--dark-blue);
}

button,
.number-div {
    background-color: var(--bright-red);
    color: var(--main-white);
    border-radius: 20px;
    padding: 10px 23px;
}

button:hover {
    background-color: var(--very-pale-red);
    color: var(--main-white);
}

button,
input {
    outline: none;
    border: none;
}

.home-page {
    flex-direction: column;
}

.home-page .btn,
.reviews .btn,
.simplify .btn {
    margin-top: 25px;
}

.about {
    flex-direction: column;
}

.about-content{
}

.about-content-head {
    margin-bottom: 50px;
}

.about-content-head h2 {
    margin-bottom: 20px;
}

.about-content-div {
    margin-bottom: 25px;
}

.number-div-contain {
    padding: 10px 10px 10px 63px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    background-color: var(--very-pale-red);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    display: flex;
    position: relative;
}

.number-div {
    position: absolute;
    top: 0;
    left: 0;
}

.intro-image-div {
    width: 100%;
}

.intro-image {
    width: 100%;
}

.reviews {}

.review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    grid-gap: 10px;
}

.review-div {
    position: relative;
    width: 300px;
    height: 250px;
    padding: 40px 10px;
    background-color: var(--very-light-gray);
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 5px;
}

.review-div p {
    margin-top: 60px;
}

.reviewer {
    position: absolute;
    top: -40px;
    left: 35%;
}

.review-img {
    width: 80px;
    height: 80px;
}

.review-img img {
    width: 100%;
    height: 100%;
}

.radio-slide {
    width: 8px;
    height: 8px;
    border-color: var(--bright-red);
    color: var(--bright-red);
}

.simplify {
    background-color: var(--bright-red);
    color: var(--main-white);
    flex-direction: column;
    padding: 40px 20px;
    position: relative;
}

.simplify h2 {
    font-size: 30px;
    width: 270px;
}

.simplify img {
    position: absolute;
    opacity: 0.1;
    width: 360px;
    height: 360px;
}

.tablet-left {
    top: 10px;
    left: -260px;
}

.tablet-right {
    display: none;
}

.simplify button {
    color: var(--bright-red);
    background-color: var(--main-white);
}

.simplify button:hover {
    color: var(--very-pale-red);
    background-color: var(--main-white);
}

.footer-form-label {
    width: 100%;
}

footer {
    background-color: var(--very-dark-blue);
    color: var(--main-white);
    flex-direction: column;
}

.footer {
    flex-direction: column;
}

.footer-form {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

footer a {
    color: var(--main-white);
    padding: 15px;
}

.logo-flex {
    flex-direction: column;
}

.social-icon-div {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer li {
    line-height: 26px;
}

footer .logo {
    fill: hsl(0, 0%, 98%);
}

input {
    border-radius: 20px;
    background-color: var(--main-white);
    padding: 10px 17px;
}

.footer-ul {
    width: 250px;
    margin: auto;
}

.copyright {
    margin-top: 10px;
}

@media only screen and (min-width: 500px){

    body {
        text-align: left;
    }
    
    nav,
    section,
    footer {    
        padding: 40px 40px;
    }
    
    .hamburger,
    .close {
        display: none;
    }

    .nav-links,
    nav .btn {
        display: block;
    }

    .nav-links ul {
        display: flex;
    }

    .nav-links a {
        color: var(--very-dark-blue);
        padding-left: 10px;
    }
    
    .home-page {
        flex-direction: row-reverse;
    }

    .home-page-note {
        width: 70%;
        padding-right: 50px;
    }

    .home-page-note h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .home-page-note p {
        width: 300px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .about {
        flex-direction: row;
    }

    .about-content-head {
        padding-right: 50px;
    }

    .about-content-head p {
        padding-right: 50px;
    }

    .number-div-contain {
        background-color: transparent;
    }

    .number-div-contain,
    .number-div-p {
        padding: 10px 10px 10px 85px;
    }
    
    .intro-image-div {
        width: 100%;
        height: 400px;
    }
    
    .intro-image {
        width: 100%;
        height: 90%;
    }
    
    .reviews {
        text-align: center;
    }
    
    .simplify {
        flex-direction: row;
        padding: 40px 40px;
    }

    .simplify .btn {
        margin-top: 0;
    }

    .tablet-left {
        top: -10px;
        left: 60px;
    }
    
    .tablet-right {
        display: block;
        bottom: 60px;
        right: -200px;
    }

    footer {
        text-align: center;
    }
    
    .footer {
        flex-direction: column;
    }
    
    input {
        padding: 10px 20px;
    }

    .logo-flex {
        flex-direction: column;
    }

    .simplify h2 {
        font-size: 30px;
        width: 320px;
    }

    .footer-form {
        margin-top: 0px;
        margin-bottom: 25px;
        width: 100%;
    }

}

@media only screen and (min-width: 1025px){

    body {
        background: url(../images/bg-simplify-section-desktop.svg) no-repeat;
        text-align: left;
    }
    
    nav,
    section,
    footer {    
        padding: 40px 130px;
    }
    
    .hamburger,
    .close {
        display: none;
    }

    .nav-links,
    nav .btn {
        display: block;
    }

    .nav-links ul {
        display: flex;
    }

    .nav-links a {
        color: var(--very-dark-blue);
        padding-left: 10px;
    }
    
    .home-page {
        flex-direction: row-reverse;
    }

    .home-page-note {
        width: 70%;
        padding-right: 100px;
    }

    .home-page-note h1 {
        font-size: 45px;
        margin-bottom: 30px;
    }

    .home-page-note p {
        width: 300px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .about {
        flex-direction: row;
    }

    .about-content-head {
        padding-right: 200px;
    }

    .about-content-head p {
        padding-right: 100px;
    }

    .number-div-contain {
        background-color: transparent;
    }

    .number-div-contain,
    .number-div-p {
        padding: 10px 10px 10px 85px;
    }
    
    .intro-image-div {
        width: 100%;
        height: 400px;
    }
    
    .intro-image {
        width: 100%;
        height: 90%;
    }
    
    .reviews {
        text-align: center;
    }
    
    .simplify {
        flex-direction: row;
        padding: 60px 130px;
    }

    .simplify .btn {
        margin-top: 0;
    }

    .tablet-left {
        top: -10px;
        left: 150px;
    }
    
    .tablet-right {
        display: block;
        bottom: 80px;
        right: -200px;
    }
    
    .footer {
        flex-direction: row-reverse;
    }
    
    input {
        padding: 10px 20px;
    }

    .logo-flex {
        flex-direction: column-reverse;
    }

    .simplify h2 {
        font-size: 30px;
        width: 320px;
    }

    .social-icon-div {
        margin-bottom: 0px;
    }

    .copyright {
        margin-top: -10px;
        display: flex;
        justify-content: flex-end;
    }

    .footer-form {
        margin-top: 0px;
        margin-bottom: 25px;
        width: 100%;
    }

}